In [1]:
import pickle
import numpy as np
import pandas as pd
import warnings
from tqdm import tqdm
warnings.filterwarnings('ignore')
tqdm.pandas()
%matplotlib inline

In [2]:
df = pd.read_csv('data/df_processed_total1.csv')

In [3]:
df_stars = pd.read_csv('data/star_power.csv',
                       usecols=['nconst', 'Name', 'Start Date', 
                                'End Date', 'Star Ranking'])

In [4]:
df.head()

,tconst,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles,title,release,director,...,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,averageRating,numVotes,leadActor
0,tt0369610,nm0415425,Rick Jaffa,1956,\N,writer,"tt1318514,tt0369610,tt4566758,tt2103281",Jurassic World,2015-06-12,Colin Trevorrow,...,movie,Jurassic World,Jurassic World,0,2015,124,Action,7.0,584990,nm0415425
1,tt0369610,nm0000341,Michael Crichton,1942,2008,writer,"tt0117998,tt0107290,tt0070909,tt0108757",Jurassic World,2015-06-12,Colin Trevorrow,...,movie,Jurassic World,Jurassic World,0,2015,124,Action,7.0,584990,nm0415425
2,tt0369610,nm2081046,Derek Connolly,\N,\N,writer,"tt1862079,tt5884052,tt0369610,tt3731562",Jurassic World,2015-06-12,Colin Trevorrow,...,movie,Jurassic World,Jurassic World,0,2015,124,Action,7.0,584990,nm0415425
3,tt0369610,nm0798646,Amanda Silver,1963,\N,writer,"tt0369610,tt1318514,tt4566758,tt2103281",Jurassic World,2015-06-12,Colin Trevorrow,...,movie,Jurassic World,Jurassic World,0,2015,124,Action,7.0,584990,nm0415425
4,tt0369610,nm0339460,Judy Greer,1975,\N,actress,"tt0369610,tt0988595,tt0337563,tt0478970",Jurassic World,2015-06-12,Colin Trevorrow,...,movie,Jurassic World,Jurassic World,0,2015,124,Action,7.0,584990,nm0415425

In [5]:
df.columns

Index(['tconst', 'nconst', 'primaryName', 'birthYear', 'deathYear',
       'primaryProfession', 'knownForTitles', 'title', 'release', 'director',
       'budget', 'opening', 'gross', 'worldwide_gross', 'metacritic_score',
       'mpaa_rating', 'budget_mil', 'opening_mil', 'titleType', 'primaryTitle',
       'originalTitle', 'isAdult', 'startYear', 'runtimeMinutes', 'genres',
       'averageRating', 'numVotes', 'leadActor'],
      dtype='object')

In [6]:
df[['release', 'startYear']]

          release  startYear
0      2015-06-12       2015
1      2015-06-12       2015
2      2015-06-12       2015
3      2015-06-12       2015
4      2015-06-12       2015
...           ...        ...
11761  2015-04-17       2014
11762  2015-04-17       2014
11763  2015-04-17       2014
11764  2015-04-17       2014
11765  2015-04-17       2014

[11766 rows x 2 columns]

In [ ]:
df_stars.head()

In [ ]:
df.shape

In [ ]:
df_stars.shape

In [ ]:
df_stars.dtypes

In [ ]:
# Filter out unavailable data
def remove_unavailable_rankings(x):
    if x == 'UNAVAILABLE':
        return -9999
    return int(x)

df_stars['Star Ranking'] = df_stars['Star Ranking'].apply(remove_unavailable_rankings)
df_stars = df_stars[df_stars['Star Ranking'] > 0]
df_stars.head()

In [ ]:
df = df.merge(df_stars, how='inner', on='nconst')

In [ ]:
df.head()

In [ ]:
df[df['primaryName'] == 'Dwayne Johnson']

In [ ]:
df.dtypes

In [ ]:
pop = df[df['End Date'].astype(str).str.contains('2018')].sort_values(by = 'Star Ranking')

In [ ]:
pop.head()